@keyframes uhOH {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes goBack {
	from {opacity: 1;}
	to {opacity: 0;}
}

html, body {
	width:100%; 
	height:100%; 
	padding:0px; 
	margin:0px;
	overflow: hidden;
	background: rgb(8,3,23); /* Old browsers */
	background: -ms-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* IE10+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#191d1e), color-stop(100%,#283139)); /* Chrome,Safari4+ */
	background: -o-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Opera 11.10+ */
	background: -moz-linear-gradient(0deg, rgba(8,3,23,1) 50%, rgba(30,15,50,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(8,3,23,1) 50%, rgba(30,15,50,1) 100%);
	background: linear-gradient(0deg, rgba(8,3,23,1) 50%, rgba(30,15,50,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#080317",endColorstr="#1e0f32",GradientType=1);
	background-attachment: fixed;
	transition: 1s ease;
}

#projector {
  position: absolute; 
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
  opacity: 0;
}

#youtube-icon {
	height: 50px;
}
.uhoh {
	animation: uhOH 10s ease 2s 1 normal forwards;
}
.goBack {
	animation: goBack 10s ease 2s 1 normal backwards;
}